<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Page Title -->
  <title>About ShareIt</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="ShareIt page description" />
  <meta name="author" content="CS2102 GROUP 28" />

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- css -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />
</head>
<body>

  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/menu">Home</a> &#47;</li>
                <li><a href="#">Terms</a> &#47;</li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
            <div class="span5">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!-- Container for Navigation Bar -->
      <div class="container">

        <div class="row nomargin">
          <!--logo-->
          <div class="span3">
            <div class="logo">
              <h1><a href="/"><i class="icon-exchange"></i> ShareIt</a></h1>
            </div>
          </div>

          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">

                    <li>
                      <a href="/menu">Home</a>
                    </li>
                    <li>
                      <a href="/about">About </a>
                    </li>

                    <!--only for logged in users-->
                    <% if (messages.info){ %>
                    <li>
                      <a href="/profile">My Account </a>
                    </li>

                    <li>
                      <a href="/allPosts">Browse </a>
                    </li>

                    <li>
                      <a href="/logout">Logout </a>
                    </li>
                    <% } %>

                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
          <!--end span8-->
        </div>
      </div>
      <!--ends container for navigation-->
    </header>
    <!-- end header -->


    <!--content-->
    <style>

      #introduction {
        margin-top: 50px;
        margin-bottom: 100px;
      }

    </style>

    <section id="content">
      <div class="container">
        <!--CONTENT-->
        <h1 style="text-align: center"><%= title%> </h1>
        <div id = "introduction" style="width:100%; text-align: center">
          <p> A stuff sharing application that allows people to borrow or loan stuff that they own.</p>
          <h4>Members</h4>
          <ul>
            <li style="list-style-type: none">Donna Lim</li>
            <li style="list-style-type: none">Choong Yong Xin</li>
            <li style="list-style-type: none">Shi Kai Ning</li>
            <li style="list-style-type: none">Louisa Low</li>
          </ul>
        </div>
        <div id = "introduction" style="width:100%">
          <h4 style="text-align: center">How it works</h4>
          <ol>
            <li> <b>Register</b> for an account.</li>
            <li> <b>Login</b></li>
            <li> To <b>loan</b> an item, <b>search</b> for the item by <b>category</b> or by <b>tags</b>. Place for a bid if there is an auction created by the lender. <b>Highest</b> bidder will be granted a successful loan. Auction closes when auction end date is up. Lenders will contact the loaners when there is a successful loan. Items without auction are served on a first <em>come first serve basis</em>, loaners will have to contact the lender. A <em>notification</em> will be issued to both the loaners and lenders for successful loans.</li>
            <li> To lend out an item, <b>create</b> a post with the relevant information. One can either <em>create an auction</em> or <em>loan it for free</em> without an auction. Again, the highest bidder will be granted a loan. Borrowers have to contact the successful loaners. </li>
            <li> Once deal is completed, users can leave <b>reviews</b> on each other's profile. </li>
            <li> If one is unable to find an item for loaning at the moment, the user can set up a <b>request</b>. Lenders who happen to have the item can contact the user if he or she has the item.</li>
          </ol>
        </div>
          <h3 style="text-align: center;"> Happy lending and loaning! </h3>
          <!--END CONTENT-->
        </div>
      </section>

      <!--footer-->

      <footer>
        <div id="sub-footer">
          <div class="container">
            <div class="row">
              <div class="span6">
                <div class="copyright">
                  <p><span>&copy; ShareIt Inc. All right reserved</span></p>
                </div>

              </div>

              <div class="span5">
                <div class="credits">
                  <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                -->
                <!-- Created by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>
