<div style = "width : 100%">
      <div class="mainmenu" style="float: left; width: 15%" >

       <h4> Main Menu </h4>
       <ul>
           <li><a href = "/menu" >Home</a></li>
           <li><a href = "/about">About</a></li>
           <li><a href = "/categories" >Categories</a></li>
           <li><a href = "/tags" >Tags</a></li>
           <li><a href="/search">Search</a></li>
           <li><a href = "/"> Logout</a><li>
       </ul>
       <h4> Navigation</h4>
       <ul id = "navigation">
        <li><a href = "/createAPost">Create a Post</a></li>
        <li><a href="/allPosts">All Posts</a></li>
        <li><a href = "/myRequests">My Requests</a></li>
        <li><a href = "/">Loans</a></li>
        <li><a href = "/profile">Profile</a></li>
       </ul>
</div>
