<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Page Title -->
  <title>Register</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="ShareShare page description" />
  <meta name="author" content="CS2102 GROUP 28" />

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- ADDED JavaScript -->
  <script src="javascripts/formsScript.js"></script>


  <!-- css -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />
  <!-- JavaScript for Interactivity -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->

</head>
<body>

  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/menu">Home</a> &#47;</li>
                <li><a href="#">Terms</a> &#47;</li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
            <div class="span5">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!-- Container for Navigation Bar -->
      <div class="container">

        <div class="row nomargin">
          <!--logo-->
          <div class="span3">
            <div class="logo">
              <h1><a href="/"><i class="icon-exchange"></i> ShareIt</a></h1>
            </div>
          </div>

          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li>
                      <a href="/login">Login</a>
                    </li>
                    <li>
                      <a href="/register">Register</a>
                    </li>
                    <li>
                      <a href="/about">About</a>
                    </li>
                  </nav>
                </div>
                <!-- end navigation -->
              </div>
            </div>
            <!--end span8-->
          </div>
        </div>
        <!--ends container for navigation-->
      </header>
      <!-- end header -->
      <style>

        .loginForm_box {
          margin-top: 50px;
          margin-bottom: 100px;
        }

      </style>

      <!--content-->

      <section id="content">
        <div class="container">

          <div class="loginForm_box">

            <h2>Register with ShareIt</h2>

            <div class = "error_box">
              <% if (messages.info){ %>
              <ul>
                <% for(var i=0; i< messages.info.length; i++) { %>
                <li> <%= messages.info[i].msg %> </li>
                <% } %>
              </ul>
              <% } %>
            </div>

            <form id="user_form" action="register" role="form" method="post">
              <div class="form-group">
                <label for="username">Email</label>
                <input class="form-control" id="username" name="username" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter Password" style = "font-size:16px; padding-left: 12px; height:36px">
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control" type = "password" id="confirmPassword" type="confirmPassword" name="confirmPassword" placeholder="Enter Password" style = "font-size:16px; padding-left: 12px; height:36px">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <select class="form-control" id="address" name="address" placeholder="Enter Address">
                  <option value="Ang Mo Kio">Ang Mo Kio</option>
                  <option value="Bedok">Bedok</option>
                  <option value="Bishan">Bishan</option>
                  <option value="Boon Lay">Boon Lay</option>
                  <option value="Bukit Batok">Bukit Batok</option>
                  <option value="Choa Chu Kang">Choa Chu Kang</option>
                  <option value="City Hall">City Hall</option>
                  <option value="Clementi">Clementi</option>
                  <option value="Harbourfront">Harbourfront</option>
                  <option value="Hougang">Hougang</option>
                  <option value="Jurong East">Jurong East</option>
                  <option value="Pasir Ris">Pasir Ris</option>
                  <option value="Queenstown">Queenstown</option>
                  <option value="Tampines">Tampines</option>
                  <option value="Woodlands">Woodlands</option>
                  <option value="Yishun">Yishun</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
          <span id="output"></span>

        </div>
      </section>

      <!--footer-->

      <footer>
        <div id="sub-footer">
          <div class="container">
            <div class="row">
              <div class="span6">
                <div class="copyright">
                  <p><span>&copy; ShareIt Inc. All right reserved</span></p>
                </div>

              </div>

              <div class="span5">
                <div class="credits">
                      <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                    -->
                    <!-- Created by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </body>
